<!DOCTYPE html>
<html>
<head><style type="text/css">body {
  background-color: #D3D3D3;
}
h1{
  text-align: center;
}
div[class="postWindow"]{
  width: 500px;
  height: 200px;
  background-color: #F5F5F5;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
  margin-bottom: 10px;
}
div[id="studentNameBox"]{
  width: 500px;
  height: 40px;
  border-bottom: 2px solid gray;
  font-size: 30px;
  text-align: center;
}
div[id="courseNameBox"]{
  width: 500px;
  height: 40px;
  border-bottom: 2px solid gray;
  font-size: 30px;
  text-align: center;
}
div[id="additionalInfoBox"]{
  width: 500px;
  height: 90px;
  border-bottom: 2px solid gray;
}
div[id="sizeAndStampBox"]{
  display: table-cell;
  vertical-align: middle;
  width: 500px;
  height: 25px;
}
div[id="sizeBox"]{
  float: left;
  margin-left: 10px;
}
div[id="StampBox"]{
float: right;
  margin-right: 10px;
}
a[id="append"]{
  display: table-cell;
  width: inherit;
  height: 25px;
  background-color: white;
  padding: 6px;
  border: 2px solid gray;
  cursor: default;
}
input[id="create"]{
  display: inline-block;
  margin-top: 20px;
  margin-right: 900;
  height: 30px;
  border: 2px solid gray;
  font-size: 20;
  background-color: #F5F5F5;
}</style>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>


</head>
<body style="">
  <h1>Study Buddies</h1>
  <a id="append">Click Here to Test!</a>
  <form action="http://web.uvic.ca/~tolgaturker/submit.html">
    <input type="submit" id="create" value="Create Post">
</form>
  <div class="parent" id="parent"></div>
 

<script>function Post(student, course, size, info, timeStamp) {
    this.studentName = student;
    this.courseName = course;
    this.groupSize = size;
    this.additionalInfo = info;
    this.timeStamp = timeStamp;
}

var additionalInfoPlaceHolder="Looking for a study group for CSC 130, having problems with using Javascript.";
var post = new Post("Elisabet Sobeck", "CSC 130", "5", additionalInfoPlaceHolder, "03/05/2018");


function myFunction(){
  alert("This button leads to detailed view page!");
}

var iterator=0;

$(function(){
  $('#append').click(function(){
    $('#parent').append('<form action="http://web.uvic.ca/~tolgaturker/detailedView.html"><div class="postWindow" id="postWindow" onclick="myFunction();"><div class="studentNameBox" id="studentNameBox"><label for="studentNameBox" id="studentNameLabel<%=iterator%>"></label></div><div class="courseNameBox" id="courseNameBox"><label for="courseNameBox" id="courseNameLabel<%=iterator%>"></label></div><div class="additionalInfoBox" id="additionalInfoBox"><label for="additionalInfoBox" id="additionalInfoLabel<%=iterator%>"></label></div><div class="sizeAndStampBox" id="sizeAndStampBox"><div class="sizeBox" id="sizeBox"><label for="sizeAndStampBox" id="groupSizeLabel<%=iterator%>"></label></div><div class="StampBox" id="StampBox"><label for="sizeAndStampBox" id="timeStampLabel<%=iterator%>"></label></div></div></div></form>');



    $("[id*=studentNameLabel]").each(function() {
 this.innerHTML=post.studentName;
 });
    $("[id*=courseNameLabel]").each(function() {
 this.innerHTML=post.courseName;
 });
    $("[id*=additionalInfoLabel]").each(function() {
 this.innerHTML=post.additionalInfo;
 });
    $("[id*=groupSizeLabel]").each(function() {
 this.innerHTML="Size: "+post.groupSize;
 });
    
   $("[id*=timeStampLabel]").each(function() {
 this.innerHTML="Timestamp: "+post.timeStamp;
 });
  
        
    iterator++;
  });
});</script></body>